body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: none;
}


.button {
  padding: 15px 35px;
  border: none;
  background-color: #ee6e73;
  
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #e2595e;
  
}

.button:focus {
  outline-offset: 10px;
  outline: 3px solid #e2595e;
}